{% extends 'base.twig' %}

{% block content %}

    <div id="wrapper" style="text-align: center">
        <h1>Awww :(</h1>

        <h3>The ressource you are looking for is unavailable !</h3>

        <p>You can go back to our <a href="/">homepage</a>.</p>
    </div>

{% endblock %}

