#updater {
    margin: auto;
    width: 400px;
    position: relative;
    padding-bottom: 50px;
}

#updater input {
    margin-bottom: 10px;;
    width: 290px;
    height: 29px;
    font-family: Helvetica, Arial, Georgia, Serif;
    padding-left: 10px;
    color: #2a73ff;
    font-size: 12px;
    font-weight: bold;
}

#updater button {
    width: 300px;
    height: 35px !important;
    font-size: 15px;
    font-family: Helvetica, Arial, Georgia, Serif;
    font-weight: bold;
    background-color: #2952c0;
    color: white;
    border: none;
}

#updater button:hover {
    background-color: #4778f8;
}

#updater hr {
    border: 0;
    color: #ece1e6;
    background-color: #ece1e6;
    margin: 50px 0px;
    height: 2px;
}

.ui-widget {
    font-size: 13px !important;
}